#achtergrond {
    background-color: aliceblue;
}

#Headerbalk {
    background-color: white;
    border-bottom-style: solid;
    border-color: deepskyblue;
    font-style: italic;
    height: 100px;
}

#Footer {
    background-color: whitesmoke;
    border-top-style: solid;
    border-color: deepskyblue;

}

a {
    color: darkslategrey;
}

#Sidebar {
    background-color: whitesmoke;
    position: relative;
    padding-left: 5px;
    padding-right: 40px;
    border-right-style: solid;
    border-color: deepskyblue;
    height: 100%; /* Full-height: remove this if you want "auto" height */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    bottom: 0;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
    font-style: italic;
}

#Sidebar1 {
    border-style: solid;
    border-color: deepskyblue;
    margin-right: 0px;
    border-width: 2px;
    border-radius: 10px;
    padding: 4px;
    text-align: center;
    background-color: ivory;

}


.nav-item {
    color: darkblue;
    font-size: 18px;
}

#Zoekknop {
    border-radius: 10px;
    border-style: solid;
    border-color: white;
}

#Zoektext {
    border-radius: 10px;
    border-style: solid;
    border-color: white;
}

#searchform {
    border-style: solid;
    border-radius: 10px;
    width: 255px;
    background-color: white;
    text-align: center;
    border-color: deepskyblue;
}

#Categorie {
    font-size: 22px;
    text-align: center;
}

#Productvak {
    background-color: whitesmoke;
    border-style: inset;
    border-radius: 10px;
    border-color: dimgrey;
}

#prijs{
    font-size: 18px;
    color: green;

}

#Logo {
    position: absolute;
    float: left;
    height: 100px;
    left: 0px;
    border-bottom-style: solid;
    border-color: deepskyblue;
}

#border {
    background-color: white;
    border-style: solid;
    border-color: deepskyblue;
    border-radius: 10px;
    padding: 4px;
}

